// 通用样式


// 我要包车
// #app > .view.order-place
//   display flex
//   flex-direction column
//   justify-content space-between
//   box-sizing border-box
//   position relative
//   min-height 100%
//   background $silver

