// 全局变量
designwidth ?= 1240px // 补偿宽度 20px 内边距
$node-modules-path ?= '../../../node_modules/'
$dblack ?= #222
// $black ?= #31302a
$black ?= #2b2b2b
$lblack ?= #666
// $dgray ?= #888
$gray ?= #999
$lgray ?= #e4e4e4
$dsilver ?= #f1f1f1
$silver ?= #f5f5f5
$yellow ?= #fed400
// $dyellow ?= #F2C800
$orange ?= #FF9C00
$red ?= #f86066
$blue ?= #3F99D2

// $icon-arrow = '\f600'
// $icon-checked = '\f601'

// $zindex-placehold = -1
// $z-index-hairline = 10
// $zindex-tooltips = 99
// $zindex-overlay = 999
// $zindex-dialog = 1000
